<style>	
	body{
		background-color: #FFF;
	}	
	
	.divImgSacada {
	    text-align: center;
	    height: 100px; 
	    background-size: cover;
	    border-radius: 10px;
	}
	
	.divImgSacada i{
		font-size: 50px;
	    margin-top: 25px;
	    opacity: 1;
	}
	
	.divImgSacadaBtn{
		background: rgba(0,0,0,0.6);
	    border-radius: 35px;
	    margin-top: 19px !important;
	    font-size: 40px !important;
	    padding: 7px;	  		
	}
	
	.divTextoError{
    	font-size: 11px;
	    bottom: 0px;
	    right: 15px;
	    background-color: #D9534F;
	    border-radius: 4px;
	    padding: 3px;
	    position: absolute;
	    color: white;
	}
</style>

<div class="row" style="background-color: #500310; border-bottom: 4px solid #940F25;">
	<div class="col-xs-12">
		<div style="float: left; margin: 0px 15px; padding-bottom: 5px;">
			<a ng-href="#/" class="" href="#/" style="color: #FFF; font-size: 30px;float: left;padding-bottom: 0px;"><i class="fa fa-angle-left"></i></a>	
			<div class="" style="cursor: default;color: #FFF; font-size: 17px;float: left;margin-left: 15px; margin-top: 4px;">Fotos sin Compartir</div>					
		</div>			
		<a href="javascript:window.open('http://www.lukas.alberione.com.ar/','_self');"><img src="./images/logo.png" alt="NO HAY IMAGEN" style="max-height: 35px; float:right;margin: 6px;margin-right: 20px;" class="img-responsive"></a>
	</div>
</div>
<div class="col-xs-12" style="margin-top: 15px; margin-bottom: 40px;">
	<div ng-if="banCargando" class="loading-spinner"></div>	
	<div class="col-xs-6" ng-repeat="foto in misFotos" style="margin-top: 15px;">
		<div class="divImgSacada" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('{{ foto.ruta }}');">
			<i ng-if="foto.estado == 0" class="fa fa-check-circle" style="color: #7cd448"></i>
			<div ng-click="reSubir(foto)" ng-if="foto.estado == 1">
				<i class="fa fa-refresh divImgSacadaBtn" style="color: #19a9d5"></i>
				<div class="divTextoError" style="cursor: default;">error al subir</div>
			</div>
		</div>
	</div>	
	<div class="col-xs-12" ng-if="misFotos == null">
		<p style="font-size: 13px;"> Usted no posee fotos sin compartir! </p>
	</div>
</div>