<div class="row" style="background-color: #500310; border-bottom: 4px solid #940F25;">
	<div class="col-xs-12">
		<div style="float: left;margin: 0px 15px; padding-bottom: 5px;">
			<a ng-href="#/" class="" href="#/" style="color: #FFF; font-size: 30px;float: left;padding-bottom: 0px;"><i class="fa fa-angle-left"></i></a>	
			<div class="" style="cursor: default;color: #FFF; font-size: 17px;float: left;margin-left: 15px; margin-top: 4px;">Subir Foto</div>					
		</div>			
		<a href="javascript:window.open('http://www.lukas.alberione.com.ar/','_self');"><img src="./images/logo.png" alt="NO HAY IMAGEN" style="max-height: 35px; float:right;margin: 6px;margin-right: 20px;" class="img-responsive"></a>
	</div>
</div>
<div class="col-xs-12" style="background-color: #F7F7F7; margin-bottom: 60px;">
	<div class="row">
		<div class="col-xs-12" style="text-align: center;">
			<img id="imgUpload" ng-pinch-zoom style="width: 100%; margin-bottom: 10px;" id="uploadImg" ng-src="{{tempimagefilepath}}" >
		<!--  		<img src="http://media3.popsugar-assets.com/files/2014/01/13/638/n/1922398/3cb9c131aea5e4ed_462328969_10.jpg.xxxlarge_2x/i/Chris-Hemsworth-game-fan-selfie-NBC-Globes-after-party.jpg" style="max-width: 100%; max-height: 300px;" >   -->
		</div>
	</div>
	<div class="row">
		<!--<div class="col-xs-12" style="margin-top: 8px;">
			<div class="col-xs-3">
				<img src="http://graph.facebook.com/{{ usuario.facebook_id }}/picture?type=normal" style="max-width: 40px; margin: 5px 10px;" > 
			</div>
			<div class="col-xs-9" style="margin-top: 8px;">
				<input class="timeline_input_comentario" type="text" ng-model="comentario_foto" placeholder="ingrese su comentario...">
			</div>		
			<div class="col-xs-12">
				<button ng-disabled="banCargando"  ng-click="enviarMultimedia(comentario_foto)" class="btn btn-success btn-circle-xs" style="width: 100%; height: 42px; margin-top: 5px;"><i class="fa fa-comment"></i> Enviar Foto</button>
			</div>			
		</div>	-->
		<div class="col-xs-12" style="margin-top: 15px;padding: 0px; margin-bottom: 4px;">
			<div class="col-xs-10">				
				<input class="timeline_input_comentario ng-pristine ng-untouched ng-valid" type="text" ng-model="comentario_nuevo" placeholder="ingrese su comentario...">
			</div>		
			<div class="col-xs-2" style="margin-top: -3px; padding-right: 10px;">
				<button ng-click="enviarComentario(comentario_nuevo)" class="btn btn-success btn-circle-xs" ng-disabled="comentario_nuevo == '' || comentario_nuevo == null || banCargando" style="height: 42px;" disabled="disabled"><i class="fa fa-comment"></i></button>
			</div>			
		</div>			
	</div>
</div>